<div class="d-flex justify-content-center align-items-center vh-75 mt-5">
    <nav class="navbar navbar-expand-lg navbar-custom" id="mainNavbar">
        <div class="container-fluid">
            <!-- Add the navbar toggler button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <!-- This is the three-line icon -->
            </button>

            <!-- Navbar content -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item me-5">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
                        href="{% url 'portfolio:home' %}">Home</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link {% if request.resolver_match.url_name == 'work' %}active{% endif %}" 
                        href="{% url 'portfolio:work' %}">Work</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" 
                        href="{% url 'portfolio:about' %}">About</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" id="contact-link"
                        href="mailto:krisjimalb@gmail.com?subject=Let's%20work%20together&body=I%20would%20like%20to%20connect%20with%20you.">Contact</a>
                    </li>
                </ul>
            </div>  
        </div>
    </nav>
</div>