{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <span class="work-heading fw-bold">ABOUT</span>
    <div class="work-separator"></div>
    <div class="about-side-heading fw-bold mt-5">Who am I beyond design?</div>  
    <div class="container-fluid mt-5 d-flex w-100">
        <!-- Left Side: Image -->
        <div class="col-md-6">
            <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
        </div>
        
        <div class="col-md-1">
        </div>

        <!-- Right Side: Button & Paragraph -->
        <div class="col-md-5 text-start ">
            <p class="resume-description fs-2">
                Beyond design, I stay active in different ways, whether it’s leading my local running club, hitting the gym, or playing sports. 
                Music is a big part of my life too, I play and teach guitar, which has taught me patience and creativity in a whole new way.
                <br><br>
                Traveling keeps me inspired, exposing me to new cultures and perspectives that shape my ideas. I’m also an avid reader, always 
                looking to learn and grow. I see every loss as a lesson and have a habit of spotting pain points in businesses, constantly 
                thinking of ways to solve them.
            </p>
        </div>
    </div>
</div>
<div class="about-images-wrapper w-100">
    <div class="about-image-container">           
        <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
    </div>
    <div class="about-image-container">           
        <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
    </div>
    <div class="about-image-container">           
        <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
    </div>
    <div class="about-image-container">           
        <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
    </div>
</div>
<div class="page-container">
    <div class="work-separator"></div>  
    <span class="experiecne-heading fw-bold">Experience</span>
    <div class="downlaod-button">
    <button class="btn experience-download-btn mt-5 fw-bold"><i class="bi bi-download me-2"></i> Download Resume</button>
    </div>

        <div class="experience-section">
    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_1.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">May 2023 - Present</p>
            <p class="big-text">eCabs Technologies</p>
            <p class="small-text">UX/UI Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">2023 - present</p>
            <p class="big-text">Aviapros</p>
            <p class="small-text">UX/UI Designer - Contract</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_3.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">Sep 2021 - Dec 2022</p>
            <p class="big-text">Eagleview</p>
            <p class="small-text">Senior Photogrematric Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_4.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">Jul 2020 - Jun 2021</p>
            <p class="big-text">Foxwel productions</p>
            <p class="small-text">Graphic User Interface Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_5.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">2019 - 2020t</p>
            <p class="big-text">Freelancer</p>
            <p class="small-text">User Interface Designer</p>
        </div>
    </div>
</div>




{% endblock %}
