{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <span class="work-heading fw-bold">ABOUT</span>
    <div class="work-separator"></div>
    <div class="about-side-heading fw-bold mt-5">Who am I beyond design?</div>  
    <div class="container-fluid mt-5 d-flex w-100 align-items-center">
        <!-- Left Side: Image -->
        <div class="col-md-6">
            <img class="img-fluid about-image" src="{% static 'images/aboutjim.png' %}" alt="Description">
        </div>
        
        <div class="col-md-1">
        </div>

        <!-- Right Side: Button & Paragraph -->
        <div class="col-md-5 d-flex align-items-center text-start">
            <p class="resume-description fs-3">
                Beyond design, I stay active in different ways, whether it’s leading my local running club, hitting the gym, or playing sports. 
                Music is a big part of my life too, I play and teach guitar, which has taught me patience and creativity in a whole new way.
                <br><br>
                Traveling keeps me inspired, exposing me to new cultures and perspectives that shape my ideas. I’m also an avid reader, always 
                looking to learn and grow. I see every loss as a lesson and have a habit of spotting pain points in businesses, constantly 
                thinking of ways to solve them.
            </p>
        </div>
    </div>
</div>
<div class="about-images-wrapper">
    <div class="image-scroll-container">
        <div class="image-scroll-track">
            <!-- Original 6 images -->
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim1.jpg' %}" alt="Jim 1">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim2.png' %}" alt="Jim 2">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim3.png' %}" alt="Jim 3">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim4.png' %}" alt="Jim 4">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim5.png' %}" alt="Jim 5">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim6.png' %}" alt="Jim 6">
            </div>
            <!-- First 3 images duplicated (creates seamless loop) -->
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim1.jpg' %}" alt="Jim 1">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim2.png' %}" alt="Jim 2">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim3.png' %}" alt="Jim 3">
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="work-separator"></div>  
    <span class="experiecne-heading fw-bold">Experience</span>
    <div class="downlaod-button">
    <button class="btn experience-download-btn mt-5"><i class="bi bi-download me-2"></i> Download Resume</button>
    </div>

        <div class="experience-section">
    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_1.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">May 2023 - Present</p>
            <p class="big-text">eCabs Technologies</p>
            <p class="small-text">UX/UI Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_2.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">2023 - present</p>
            <p class="big-text">Aviapros</p>
            <p class="small-text">UX/UI Designer - Contract</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_3.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">Sep 2021 - Dec 2022</p>
            <p class="big-text">Eagleview</p>
            <p class="small-text">Senior Photogrematric Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_4.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">Jul 2020 - Jun 2021</p>
            <p class="big-text">Foxwel productions</p>
            <p class="small-text">Graphic User Interface Designer</p>
        </div>
    </div>

    <div class="experience-item">
        <img class="img-fluid experience-image" src="{% static 'images/experience_5.png' %}" alt="Description">
        <div class="experience-text">
            <p class="small-text">2019 - 2020t</p>
            <p class="big-text">Freelancer</p>
            <p class="small-text">User Interface Designer</p>
        </div>
    </div>
</div>




{% endblock %}
