{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <span class="work-heading text-black fw-bold" data-aos="fade-up">ABOUT.</span>
    <div class="work-separator"></div>
    <div class="about-side-heading text-black mt-5" data-aos="fade-up">Who am I beyond design?</div>  
    <div class="about-image-container container-fluid mt-5 d-flex w-100 align-items-center" data-aos="fade-up">
        <!-- Left Side: Image -->
        <div class="col-md-6">
            <img class="img-fluid about-image" src="{% static 'images/aboutjim.jpeg' %}" alt="Description">
        </div>
        
        <div class="col-md-1">
        </div>

        <!-- Right Side: Button & Paragraph -->
        <div class="col-md-5 d-flex align-items-center text-start">
            <p class="resume-description fs-3">
                Beyond design, I try to keep life active and balanced. I love playing guitar, staying up to date with what’s happening in the tech world, and keeping myself moving through running, gym sessions, and volleyball. These little passions give me the energy and focus I bring back into my work.
                <br><br>
                I also love traveling and exploring new places. Meeting people from different cultures and hearing their stories gives me fresh perspectives and keeps me inspired, not just as a designer, but as a person.
            </p>
        </div>
    </div>
</div>
<div class="about-images-wrapper" id="imageGallery" data-aos="fade-up">
    <div class="image-scroll-container">
        <div class="image-scroll-track scroll-track" id="scrollTrack">
            <!-- Original 6 images -->
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim1.jpg' %}" alt="Jim 1">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim2.jpg' %}" alt="Jim 2">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim7.png' %}" alt="Jim 3">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim3.jpg' %}" alt="Jim 4">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim4.jpg' %}" alt="Jim 5">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim5.jpg' %}" alt="Jim 6">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim6.jpg' %}" alt="Jim 7">
            </div>

            <!-- Repeating the same 6 images for infinite scroll effect -->
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim1.jpg' %}" alt="Jim 1 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim2.jpg' %}" alt="Jim 2 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim7.png' %}" alt="Jim 3 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim3.jpg' %}" alt="Jim 4 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim4.jpg' %}" alt="Jim 5 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim5.jpg' %}" alt="Jim 6 Clone">
            </div>
            <div class="square-image-frame">
                <img class="cropped-image" src="{% static 'images/jim6.jpg' %}" alt="Jim 7 Clone">
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="work-separator"></div>
    <div class="mt-5 brands-side-heading text-black" data-aos="fade-up">Brands I’ve worked with</div> 
</div>
    <div class="image-scroll-container mt-5">
        <div class="brands-scroll-track scroll-track" id="scrollTrack">
            <!-- Original 6 images -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand1.png' %}" alt="Jim 1">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand2.png' %}" alt="Jim 2">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand3.png' %}" alt="Jim 3">
            </div>
            <div class="brands-image-frame-1">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand4_5.png' %}" alt="Jim 4&5">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand6.png' %}" alt="Jim 6">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand7.png' %}" alt="Jim 7">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand8.png' %}" alt="Jim 8">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand9.png' %}" alt="Jim 9">
            </div>

            <!-- Repeating the same 6 images for infinite scroll effect -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand1.png' %}" alt="Jim 1 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand2.png' %}" alt="Jim 2 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand3.png' %}" alt="Jim 3 Clone">
            </div>
            <div class="brands-image-frame-1">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand4_5.png' %}" alt="Jim 4&5 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand6.png' %}" alt="Jim 6 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand7.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand8.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line1_brand9.png' %}" alt="Jim 7 Clone">
            </div>
        </div>
    </div>
    <div class="image-scroll-container mt-5">
        <div class="brands-scroll-track scroll-track" id="scrollTrack">
            <!-- Original 6 images -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand1.png' %}" alt="Jim 1">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand2.png' %}" alt="Jim 2">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand3.png' %}" alt="Jim 3">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand4.png' %}" alt="Jim 4">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand5.png' %}" alt="Jim 5">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand6.png' %}" alt="Jim 6">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand7.png' %}" alt="Jim 7">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand8.png' %}" alt="Jim 8">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand9.png' %}" alt="Jim 9">
            </div>

            <!-- Repeating the same 6 images for infinite scroll effect -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand1.png' %}" alt="Jim 1 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand2.png' %}" alt="Jim 2 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand3.png' %}" alt="Jim 3 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand4.png' %}" alt="Jim 4 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand5.png' %}" alt="Jim 5 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand6.png' %}" alt="Jim 6 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand7.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand8.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image" src="{% static 'images/Line2_brand9.png' %}" alt="Jim 7 Clone">
            </div>
        </div>
    </div>


<div class="page-container">

    <div class="work-separator"></div>  
    <span class="about-side-heading text-black" data-aos="fade-up">Experience</span>
    <div class="download-button" data-aos="fade-up">
        <a href="https://www.linkedin.com/in/kristen-jim/" class="btn experience-download-btn mt-5">
            <i class="bi bi-linkedin me-2"></i> Go to Linkedin <i class="bi bi-arrow-up-short fs-2 rotate-right"></i>
        </a>
    </div>

    <div class="experience-section">
        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_6.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">Oct 2025 - Present</p>
                <p class="big-text mb-1 mt-1">Betsson Group</p>
                <p class="medium-text mt-1">Product Designer</p>
            </div>
        </div>

        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_1.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">May 2023 - Sept 2025</p>
                <p class="big-text mb-1 mt-1">eCabs Technologies</p>
                <p class="medium-text mt-1">Senior UX/UI Designer</p>
            </div>
        </div>

        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_2.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">Aug 2024 - Apr 2025</p>
                <p class="big-text mb-1 mt-1">Aviapros</p>
                <p class="medium-text mt-1">UX/UI Designer - Contract</p>
            </div>
        </div>

        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_3.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">Sep 2021 - Dec 2022</p>
                <p class="big-text mb-1 mt-1">Eagleview</p>
                <p class="medium-text mt-1">Senior Photogrematric Designer</p>
            </div>
        </div>

        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_4.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">Jul 2020 - Jun 2021</p>
                <p class="big-text mb-1 mt-1">Foxwel productions</p>
                <p class="medium-text mt-1">Graphic User Interface Designer</p>
            </div>
        </div>

        <div class="experience-item">
            <img class="img-fluid experience-image" data-aos="fade-up" src="{% static 'images/experience_5.png' %}" alt="Description">
            <div class="experience-text mt-1 ms-5" data-aos="fade-up">
                <p class="small-text mb-1 mt-3">2019 - 2020</p>
                <p class="big-text mb-1 mt-1">Freelancer</p>
                <p class="medium-text mt-1">UI/UX Designer</p>
            </div>
        </div>
    </div>
</div>

    




{% endblock %}
