{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <div class="custom-heading-container mb-4">
        <h1 class="custom-heading">h1 KRISTEN JIM ALBUQUERQUE</h1>
        <button class="circle-button"></button>
    </div>
    <span class="portfolio-email fs-2 mt-5" onclick="copyEmail()">krisjimalb@gmail.com <i class="bi bi-copy"></i></span> 
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-5 offset-md-8 mt-4">
                <p class="custom-paragraph fs-1 text-end"><strong>
                    Hello, I'm a UI/UX designer with 3+ years of experience, based in Malta, solving problems through intuitive design. Let’s create!</strong>
                </p>
            </div>
        </div>
    </div>
    <!-- Division Line -->
    <div class="home-separator"></div>
    <div class="d-flex justify-content-between align-items-center w-100 mt-5">
        <div class="side-heading fw-bold">Work.</div>  
        <button class="btn btn-primary border-0 text-dark fw-bold show-more" onclick="window.location.href='{% url 'portfolio:work' %}';">
            Show more
        </button>
    </div>

    <!-- Image Section -->
        <div class="d-flex justify-content-between align-items-center work-image mt-5">
            <!-- Image 1 -->
            <div class="work-image-container">
                <img class="img-fluid" src="{% static 'images/portfolio_1.png' %}" alt="Casa Malta">
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>

            <!-- Image 2 -->
            <div class="work-image-container">
                <img class="img-fluid" src="{% static 'images/portfolio_2.png' %}" alt="Casa Malta">
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-5 align-items-center work-image">
            <!-- Image 1 -->
            <div class="work-image-container">
                <img class="img-fluid" src="{% static 'images/portfolio_2.png' %}" alt="Casa Malta">
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>

            <!-- Image 2 -->
            <div class="work-image-container">
                <img class="img-fluid" src="{% static 'images/portfolio_1.png' %}" alt="Casa Malta">
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>
        </div>
    <div class="home-separator"></div>
    <div class="d-flex justify-content-between align-items-center w-100 mt-5 custom-heading-container">
        <div class="side-heading fw-bold">About.</div>  
        <button class="btn btn-primary border-0 text-dark fw-bold show-more" id="showaboutMoreBtn" onclick="window.location.href='{% url 'portfolio:about' %}';">
            Show more
        </button>
    </div>

    <div class="about-side-heading fw-bold mt-5">Who am I beyond design?</div>  
    <div class="container-fluid mt-5 d-flex w-100">
            <!-- Left Side: Image -->
            <div class="col-md-6">
                <img class="img-fluid about-image" src="{% static 'images/portfolio_3.png' %}" alt="Description">
            </div>
            
            <div class="col-md-1">
            </div>

            <!-- Right Side: Button & Paragraph -->
            <div class="col-md-5 text-start ">
                <a href="{% static 'images/casa_resume.pdf' %}" download class="btn download-btn mt-5 fw-bold">
                    <i class="bi bi-download me-2"></i> Download Resume
                </a>                
                <p class="resume-description fs-2 mt-5">
                    Beyond design, I stay active in different ways, whether it’s leading my local running club, hitting the gym, or playing sports. 
                    Music is a big part of my life too, I play and teach guitar, which has taught me patience and creativity in a whole new way.
                    <br><br>
                    Traveling keeps me inspired, exposing me to new cultures and perspectives that shape my ideas. I’m also an avid reader, always 
                    looking to learn and grow. I see every loss as a lesson and have a habit of spotting pain points in businesses, constantly 
                    thinking of ways to solve them.
                </p>
            </div>
    </div>  
</div>
{% endblock %}