{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <div class="header-container">
        <div class="custom-heading-container">
            <div class="custom-heading text-start text-black" data-aos="fade-up">
                KRISTEN JIM <br> ALBUQUERQUE
            </div>
            <div class="circle-button-wrapper" data-aos="fade-up">
                <button class="circle-button">
                    <div class="circle-button-inner">
                        <img src="{% static 'images/kjim.png' %}" data-aos="fade-up" alt="Jim" class="circle-button-image">
                    </div>
                </button>
            </div>
        </div>
    </div>
    
    <div class="portfolio-designation" data-aos="fade-up">
    <span class="portfolio-email fs-2">Product Designer</span> 
    <a href="https://www.betsson.com" class="portfolio-email-1 fs-2" target="_blank">@Betsson group</a>
    </div>
    <div class="responsive-text-container">
        <div class="right-justified-text" data-aos="fade-up">
            <p class="no-word-break">
                Hello, I'm a Product Designer with 4+ years of experience, 
                based in Malta, solving problems through intuitive design. 
                Let's create!
            </p>
        </div>
    </div>
    <!-- Division L ine -->
    <div class="work-separator"></div>
    <div class="d-flex justify-content-between align-items-center w-100 mt-5" data-aos="fade-up">
        <div class="side-heading text-black">Work.</div>  
        <button class="btn btn-primary border-0 text-dark show-more" id="showMoreBtn" onclick="window.location.href='{% url 'portfolio:work' %}';">
            Show more
        </button>
    </div>

    <!-- Image Section -->
    <div class="d-flex justify-content-between align-items-center work-image mt-5 mobile-column" data-aos="fade-up">

        <!-- ibet -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/rG2hovLpMrUioudinZVhMM/Projects-portfolio?page-id=115%3A2306&node-id=121-21213&viewport=596%2C259%2C0.03&t=XUY1UJJfpY2SiUVe-1&scaling=min-zoom&content-scaling=fixed" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_5.png' %}" alt="ibet Casino Revamp">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Aviapros - Flight Service & Operations Platform</p>
                <span class="view-work-case-study">View Case Study</span>
        </div>
        <!-- Fineasy -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/rG2hovLpMrUioudinZVhMM/Projects-portfolio?page-id=1%3A3110&node-id=1-5135&p=f&viewport=497%2C45%2C0.04&t=U4udV0XvgR7D2PlC-1&scaling=min-zoom&content-scaling=fixed" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_3.png' %}" alt="ibet Casino Revamp">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">ibet - Casino revamp</p>
                <span class="view-work-case-study">View Case Study</span>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center work-image mt-5 mobile-column" data-aos="fade-up">
        <!-- Kanon -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/rG2hovLpMrUioudinZVhMM/Projects-portfolio?page-id=1%3A345&node-id=1-422&viewport=503%2C45%2C0.03&t=vNplhUYpNglYnaLw-1&scaling=min-zoom&content-scaling=fixed" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_1.png' %}" alt="Fineasy Finance App">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Fineasy - Finance app</p>
                <span class="view-work-case-study">View Case Study</span>
        </div>
        <!-- Casa Malta -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/rG2hovLpMrUioudinZVhMM/Projects-portfolio?page-id=1%3A1217&node-id=1-1587&viewport=492%2C45%2C0.05&t=9t67SRU6pOP947tD-1&scaling=min-zoom&content-scaling=fixed" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_2.png' %}" alt="Kanon Casino App">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Kanon - Casino app UX</p>
                <span class="view-work-case-study">View Case Study</span>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center work-image mt-5 mobile-column" data-aos="fade-up">
        <!-- Kanon -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/rG2hovLpMrUioudinZVhMM/Projects-portfolio?page-id=0%3A1&node-id=1-27&p=f&viewport=494%2C45%2C0.04&t=UIqv6sLCieptIOO1-1&scaling=min-zoom&content-scaling=fixed" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_4.png' %}" alt="Casa Malta Real Estate">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta - Real estate app/website</p>
                <span class="view-work-case-study">View Case Study</span>
        </div>
    </div>

    <div class="work-separator"></div>
    <div class="d-flex justify-content-between align-items-center w-100 mt-5 custom-heading-container" data-aos="fade-up">
        <div class="side-heading mobile-side-heading text-black">About.</div>  
        <button class="btn btn-primary border-0 text-dark show-more mobile-show-more" id="showaboutMoreBtn" onclick="window.location.href='{% url 'portfolio:about' %}';">
            Show more
        </button>
    </div>

    <div class="about-side-heading text-black mt-5" data-aos="fade-up">Who am I beyond design?</div>  
    <div class="container-fluid mt-5 d-flex w-100 align-items-center" data-aos="fade-up">
            <!-- Left Side: Image -->
            <div class="col-md-6">
                <img class="img-fluid about-image" src="{% static 'images/aboutjim.jpeg' %}" alt="Description">
            </div>
            
            <div class="col-md-1">
            </div>

            <!-- Right Side: Button & Paragraph -->
            <div class="col-md-5 text-start">
                {% comment %} <a href="{% static 'images/Kristen_Resume.pdf' %}" download class="btn download-btn mt-5" data-aos="fade-up">
                    <i class="bi bi-download me-2"></i> Download Resume
                </a>                 {% endcomment %}
                <p class="resume-description mt-5 fs-3" data-aos="fade-up">
                    Beyond design, I try to keep life active and balanced. I love playing guitar, staying up to date with what’s happening in the tech world, and keeping myself moving through running, gym sessions, and volleyball. These little passions give me the energy and focus I bring back into my work.
                    <br><br>
                    I also love traveling and exploring new places. Meeting people from different cultures and hearing their stories gives me fresh perspectives and keeps me inspired, not just as a designer, but as a person.
                </p>
            </div>
    </div> 
    <div class="brands-side-heading-home brands-side-heading text-black" data-aos="fade-up">Brands I’ve worked with</div> 
    </div>
    <div class="image-scroll-container mt-5">
        <div class="brands-scroll-track scroll-track" id="scrollTrack">
            <!-- Original 6 images -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image-1" src="{% static 'images/Line1_brand1.png' %}" alt="Jim 1">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-2" src="{% static 'images/Line1_brand2.png' %}" alt="Jim 2">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-3" src="{% static 'images/Line1_brand3.png' %}" alt="Jim 3">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-4" src="{% static 'images/Line1_brand4.png' %}" alt="Jim 4">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-5" src="{% static 'images/Line1_brand5.png' %}" alt="Jim 5">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-6" src="{% static 'images/Line1_brand6.png' %}" alt="Jim 6">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-7" src="{% static 'images/Line1_brand7.png' %}" alt="Jim 7">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-8" src="{% static 'images/Line1_brand8.png' %}" alt="Jim 8">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-9" src="{% static 'images/Line1_brand9.png' %}" alt="Jim 9">
            </div>

            <!-- Repeating the same 6 images for infinite scroll effect -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image-1" src="{% static 'images/Line1_brand1.png' %}" alt="Jim 1 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-2" src="{% static 'images/Line1_brand2.png' %}" alt="Jim 2 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-3" src="{% static 'images/Line1_brand3.png' %}" alt="Jim 3 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-4" src="{% static 'images/Line1_brand4.png' %}" alt="Jim 4 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-5" src="{% static 'images/Line1_brand5.png' %}" alt="Jim 5 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-6" src="{% static 'images/Line1_brand6.png' %}" alt="Jim 6 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-7" src="{% static 'images/Line1_brand7.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-8" src="{% static 'images/Line1_brand8.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-9" src="{% static 'images/Line1_brand9.png' %}" alt="Jim 7 Clone">
            </div>
        </div>
    </div>
    <div class="image-scroll-container mt-5">
        <div class="brands-scroll-track scroll-track" id="scrollTrack">
            <!-- Original 6 images -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l1" src="{% static 'images/Line2_brand1.png' %}" alt="Jim 1">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l2" src="{% static 'images/Line2_brand2.png' %}" alt="Jim 2">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l3" src="{% static 'images/Line2_brand3.png' %}" alt="Jim 3">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l4" src="{% static 'images/Line2_brand4.png' %}" alt="Jim 4">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l5" src="{% static 'images/Line2_brand5.png' %}" alt="Jim 5">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l6" src="{% static 'images/Line2_brand6.png' %}" alt="Jim 6">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l7" src="{% static 'images/Line2_brand7.png' %}" alt="Jim 7">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l8" src="{% static 'images/Line2_brand8.png' %}" alt="Jim 8">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l9" src="{% static 'images/Line2_brand9.png' %}" alt="Jim 9">
            </div>

            <!-- Repeating the same 6 images for infinite scroll effect -->
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l1" src="{% static 'images/Line2_brand1.png' %}" alt="Jim 1 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l2" src="{% static 'images/Line2_brand2.png' %}" alt="Jim 2 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l3" src="{% static 'images/Line2_brand3.png' %}" alt="Jim 3 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l4" src="{% static 'images/Line2_brand4.png' %}" alt="Jim 4 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l5" src="{% static 'images/Line2_brand5.png' %}" alt="Jim 5 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l6" src="{% static 'images/Line2_brand6.png' %}" alt="Jim 6 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l7" src="{% static 'images/Line2_brand7.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l8" src="{% static 'images/Line2_brand8.png' %}" alt="Jim 7 Clone">
            </div>
            <div class="brands-image-frame">
                <img class="brands-cropped-image-l9" src="{% static 'images/Line2_brand9.png' %}" alt="Jim 7 Clone">
            </div>
        </div>
    </div>

{% endblock %}  