{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% load static %}
{% block content %}
<div class="page-container">
    <span class="work-heading text-black fw-bold">WORK.</span>
    <div class="work-separator"></div>
    <div class="d-flex justify-content-between align-items-center work-image mt-5">
        <!-- Image 1 -->
         <div class="work-image-container">
            <a href="https://www.figma.com/proto/zU36ZTMFBZfki6YEs89yby/New-portfolio-website?page-id=0%3A1&node-id=144-2946&viewport=-2457%2C150%2C0.12&t=tsTVxZjq2Ju5XCI0-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8%3A2355" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_1.png' %}" alt="Fineasy Finance App">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Fineasy - Finance app</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>

            <!-- Image 2 -->
            <div class="work-image-container">
            <a href="https://www.figma.com/proto/zU36ZTMFBZfki6YEs89yby/New-portfolio-website?page-id=0%3A1&node-id=144-3316&viewport=-2457%2C150%2C0.12&t=tsTVxZjq2Ju5XCI0-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8%3A2355" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_2.png' %}" alt="Kanon Casino App">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Kanon - Casino app UX</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>
    </div>

    <div class="d-flex justify-content-between mt-5 align-items-center work-image">
        <!-- Image 1 -->
        <div class="work-image-container">
            <a href="https://www.figma.com/proto/zU36ZTMFBZfki6YEs89yby/New-portfolio-website?page-id=0%3A1&node-id=144-7134&viewport=-1098%2C199%2C0.05&t=7v0sUJWlkLDIi7nM-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8%3A2355" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_3.png' %}" alt="ibet Casino Revamp">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">ibet - Casino revamp</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>

            <!-- Image 2 -->
            <div class="work-image-container">
            <a href="https://www.figma.com/proto/zU36ZTMFBZfki6YEs89yby/New-portfolio-website?page-id=0%3A1&node-id=144-1756&viewport=-2457%2C150%2C0.12&t=tsTVxZjq2Ju5XCI0-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8%3A2355" target="_blank" class="work-link">
                <img class="img-fluid img-border" src="{% static 'images/jimportfolio_4.png' %}" alt="Casa Malta Real Estate">
            </a>
                <i class="bi bi-arrow-up-right-circle-fill hover-icon"></i>
                <p class="work-image-caption">Casa Malta - Real estate app/website</p>
                <span class="view-work-case-study">View Case Study</span>
            </div>
    </div>
</div>

{% endblock %}
